
a { 
 text-decoration: none;
 color: rgb(71, 108, 145);
}

.header {
  width: 100vw;
  background: linear-gradient(45deg, #fbe0c4 0%, #8ab6d6 100%);
}
.minititle a {
  color: #8ab6d6;
  font-size: 150px;
  font-family: 'Bangers', cursive;
  display: none;
}
.worker{
  display: none;
}

.h{
  height: 100vh;
  width: 100vw;
}
.login{
  font-size: 50px;
}
.name{
  width: 15%;
}

.field_with_errors{
  display: contents
}
.sample_box11 {

  background: white;
  padding: 10px 10px 40px;
  -moz-box-shadow: 0 4px 10px #333; 
  -webkit-box-shadow: 0 4px 10px #333;
  box-shadow: 0 4px 40px #333;
  transform: rotate(5deg);

}
.i{
  font-size: 25px;
  color: #faf3e0;
  writing-mode: vertical-lr;
  text-orientation: upright;
}
.page-info{
  font-size: 80px;
  font-family: 'Bangers', cursive;
  color: #faf3e0;
}
.userinfo{
  font-size: 25px;
}
.detail4{
  background-color: #a1cae2;
}
.profile{
  font-size: 35px;
}
.page-profile{
  font-size: 40px;
}
