.posts--header {
  padding: 5vh 0;
}
.post1{
  font-size: 50px;
  font-weight: bold;
  font-family: "Nico Moji";
  color: #7d7d7d;
  margin-bottom: 1vh;
  margin-right: 8vw;
}
.post2{
  font-size: 40px;
  font-weight: bold;
  font-family: "Nico Moji";
  color: #ff1e56;
  margin-bottom: 1vh;
  margin-right: 8vw;
}
.indispensable {
  background: #ea352d;
  margin-left: 2vw;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 4px;
  font-weight: bold;
}
.bg_1 {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  padding: 35% 0 0 0;
}
.contents {
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  z-index: 2;
}
.contents:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 70%;
  margin: 10% -10% 0;
  background: #ffefe0;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  z-index: -1;
}
.contentsdouble{
  position: relative;
  overflow: hidden;
  padding: 80px 0;
  z-index: 2;
}
.contentsdouble::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 20%;
  margin: 5% -5% 0;
  background: #fed9ca;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: rotate(-2deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-1deg);
  z-index: -2;
}
.bg-color{
  background-color: #7d7d7d;
}
